[submodule "third_party/butano"]
	path = third_party/butano
	url = https://github.com/GValiente/butano
[submodule "third_party/EmulatorJS"]
	path = third_party/EmulatorJS
	url = https://github.com/EmulatorJS/EmulatorJS.git
